<h1>{{title}}</h1>
<h2>Cadidates</h2>
<div style="width: 100%; display: inline-flex">
    <div style="width: 15%">
        <ul class="candidate">
            <li  *ngFor="let candidate of candidates"
                 [class.selected]="candidate === selectedCandidate"
                 (click)="onSelect(candidate)">
                <span class="badge">{{candidate.id}}</span> {{candidate.name}}
            </li>
        </ul>
    </div>
    <div style="width: 85%">
        <ul class="candidate" style="width: 100%">
            <li  *ngFor="let candidate of candidates">
                <div *ngFor="let loop of candidate.voteCount" style="display: inline-block" class="vote">

                </div>
                <span style="vertical-align: super;" *ngIf="candidate.voteCount.length>0">Total Vote:{{candidate.voteCount.length}}</span>
            </li>
        </ul>
    </div>
</div>
<!--<div *ngIf="selectedCandidate">-->
    <!--<h2>{{selectedCandidate.name}} details!</h2>-->
    <!--<div><label>id: </label>{{selectedCandidate.id}}</div>-->
    <!--<div><label>Vote Count: {{selectedCandidate.voteCount}}</label></div>-->
    <!--<div><label>Name: {{selectedCandidate.name}}</label></div>-->
<!--</div>-->